/*============================================ Header Buttons =============================================*/
.header-button {
    font-family: 'pixel_operator_bold', serif;
    height: 60px;
    border: none;
    font-size: 36px;
    text-align: center;
    color: #ffffff;
    background-color: rgb(46, 46, 46);
    overflow:hidden;
  }
  .header-button:hover {
    border: double 2px transparent;
    -webkit-text-fill-color: transparent;
    background:
      repeating-linear-gradient(
        to right, 
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%);
    background-origin: border-box;
    background-clip: text;
    -webkit-background-clip: text;
    animation: rainbow linear 30s infinite;
  }
  .header-button:disabled {
    background-color: #000;
  }
  .header-buttons {
    display: grid;
    grid-template-columns: 200px repeat(5, 70px) 1fr 1fr 1fr 1fr 10px;
    background-color: rgba(24, 24, 24, 1);
  }
  .header-border {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-right: 0px;
    border: 2px solid transparent;
  }
  .header-border:hover {
    border: double 2px transparent;
    -webkit-text-fill-color: transparent;
    background:
      linear-gradient(to right, rgb(46, 46, 46), rgb(46, 46, 46)),
      repeating-linear-gradient(
        to right, 
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    -webkit-background-clip: padding-box, border-box;
    animation: rainbow linear 30s infinite;
  }
  .header-divider {
    border-top: 3px double #000;
    margin-top: 0px;
    margin-bottom: 10px;
    background:
      repeating-linear-gradient(
        to right, 
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%);
    background-origin: border-box;
    background-clip: border-box;
    -webkit-background-clip: border-box;
    animation: rainbow linear 30s infinite;
  }
  
  .playback-buttons {
    font-family: 'pixel_playback', serif;
    font-size: 30px;
  }

/*============================================== News Ticker ==============================================*/
.hwrap {
    overflow: hidden; 
    background-color: #272727;
    width: 96%;
    left: 2%;
    right: 2%;
    height: 40px;
    position: absolute;
    align-content: center;
    border-radius: 15px;
  }
  .hmove { 
    display: flex; 
  }
  .hitem {
    flex-shrink: 0;
    width: 80%;
    box-sizing: border-box;
    padding: 10px;
    font-size: 20px;
    font-family: 'pixel_operator_hb', serif;
    text-align: center;
    color: white;
  }
  @keyframes tickerh {
    0% { transform: translate3d(100%, 0, 0); }
    100% { transform: translate3d(-400%, 0, 0); }
  }
  .hmove { animation: tickerh linear 50s infinite; }